* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* Navbar design starts*/
header {
  background-color: #333333;
  color: #ffffff;
}

.inner-wrap {
  max-width: 1280px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1em;
  overflow: visible;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 2px 16px;
  justify-content: space-around;
}

/*Stroke animation for navbar links*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.3s;
}
nav ul li a:hover {
  color: #dadada;
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

/*Stroke animation for navbar link ends*/

/* Navbar design ends*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns horizontally center */
  align-items: center; /* Aligns vertically center */
  height: 80vh; /* Full or desired viewport height */
}

.card {
  background-color: #f8f9fa; /* Example background color */
  padding: 20px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  height: auto;
  text-align: center;
}

.card-title {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  color: #333;
}

#new-quote,
#new-quote-fun {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  background-color: #002ead;
  margin: 0;
  margin-top: 30px;
  padding: 5px;
  height: 35px;
  width: 100px;
  border: 1px solid #333;
  border-radius: 6px;
}

#new-quote:hover,
#new-quote-fun:hover {
  background-color: #1045d6;
}

.quote-text,
.fun-quote-text {
  font-size: 18px;
  font-weight: 500;
}

.quote-author,
.fun-quote-author {
  font-style: italic;
}

.copy-quote-button,
.copy-fun-quote-button {
  font-family: poppins, Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}

.copy-quote-button:hover,
.copy-fun-quote-button:hover {
  color: #1045d6;
}

.copy-message,
.copy-fun-message {
  font-size: 14px;
}

.footline {
  text-align: center;
  font-size: 14px;
}

/*About section CSS*/

#author {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 1.2em;
  margin: auto;
}

.about-author-text {
  margin-left: 100px;
}

.author-photo img {
  object-fit: cover;
  height: 500px;
  width: 300px;
  border-radius: 0;
}

.about-heading {
  font-size: 36px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  main {
  }

  .card {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .card-title {
    font-size: 18px;
  }

  .quote-text,
  .fun-quote-text,
  #new-quote,
  #new-quote-fun {
    font-size: 14px;
  }

  .quote-author,
  .fun-quote-author {
    font-size: 10px;
  }

  nav ul li a {
    font-size: 12px;
    padding: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .footline {
    font-size: 10px;
  }

  #author {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .author-photo {
    padding-top: 20px;
    text-align: center;
  }

  .author-photo img {
    height: 300px;
    width: 200px;
  }

  .about-author-text {
    justify-content: center;
    font-size: 14px;
    margin: 0;
    padding: 0 1em;
  }

  .about-heading {
    font-size: 22px;
    text-align: center;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card {
    width: 48%;
    margin: 1%;
  }
}
