* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* Navbar design starts*/
header {
  background-color: #333333;
  color: #ffffff;
}

.inner-wrap {
  max-width: 1280px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1em;
  overflow: visible;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 2px 16px;
  justify-content: space-around;
}

/*Stroke animation for navbar links*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .3s;
}
nav ul li a:hover {
  color: #dadada;
}


nav ul li a{
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

/*Stroke animation for navbar link ends*/

/* Navbar design ends*/

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns horizontally center */
  align-items: center; /* Aligns vertically center */
  height: 80vh; /* Full or desired viewport height */
}

.card {
  background-color: #f8f9fa; /* Example background color */
  padding: 20px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  height: auto;
  text-align: center;
}

.card-title {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  color: #333;
}

#new-quote {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  background-color: #002ead;
  margin: 0;
  margin-top: 30px;
  padding: 5px;
  height: 35px;
  width: 100px;
  border: 1px solid #333;
  border-radius: 6px;
}

#new-quote:hover{
  background-color: #1045d6;
}

.quote-text {
  font-size: 18px;
  font-weight: 500;
}

.quote-author {
  font-style: italic;
}

.copy-quote-button {
  font-family: poppins, Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  margin-left: 20px;
  font-size: 15px;
  font-weight: 500;
}

.copy-quote-button:hover {
  color: #1045d6;
}

.copy-message{
  font-size: 14px;
}

.footline{
    text-align: center;
    font-size: 14px;
}
